@use 'colors';

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex-shrink: 0;

    margin: 20px 0 0 0;
    padding: 10px 0;
    width: 100%;

    border-top: solid 2px;
    border-color: colors.$card-border-color;    
    background-color: black;

    color: white;
}

.footer div {
    padding: 0 10px;
}

.footer div a {
    color: white;
    text-decoration: none;
}