@use 'colors';
@use 'sizes';

html,body {
  margin: 0;
  padding: 0;

  background: colors.$global-background-color;
  /*background: linear-gradient(10deg, rgba(220,247,243,1) 0%, rgba(255,245,224,1) 100%);*/
}

main {
  margin: 5px 20px;
  padding: 0px 20px;
}