@use 'sizes';
@use 'colors';

.headerThick
{
    padding: 50px 0px 0px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    height: 273px;
}

.headerThin
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 55px;
    width: 100%;
    padding: 5px;

    position: fixed;
    top: 0;

    background: linear-gradient(180deg, rgba(255,255,255,0.8) 60%, rgba(255,255,255,0.05) 100%);
    z-index: 100;
}

.headerThin a {
    text-decoration: none;
    color: black;
}

.headerThin a:hover {
    text-decoration: underline;
}

.padding {
    height: 50px;
}

.invisible
{
    visibility: hidden;
}

.titleThick
{    
    font-size: 65pt;
    text-decoration: underline;

    padding: 0px 30px;
    margin: 10px 0px;
}

@media only screen and (max-width: sizes.$max-width) {
    .titleThick {
        font-size: 40pt;
    }
}

.roundImageThick
{
    border-radius: 50%;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.titleThin
{    
    font-size: 20;

    margin: 0 0 0 10px;
    padding: 0;
}

.roundImageThin
{
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-width: 1px;
    border-color: black;
    border-style: solid;

}

.padding {
    min-height: 20px; // Same as headerThin
}
