

.shadow {
  box-shadow: 0px 2px 10px  rgba(0,0,0,0.4);
}

.projectRows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  gap: 10px;

  padding: 0px 20px;
}

.contentBox {  
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1.0) 0%, rgba(255,255,255,0.05) 100%); 

  /*border-style: solid;*/
  border-width: 1px;
  border-color: rgba(240, 240, 250, 1.0);

}

.indent {
  text-indent: 5%;
}