@use 'colors';

.shadow {
  box-shadow: 0px 2px 10px  rgba(0,0,0,0.4);
}

.contentBox {  
  background: colors.$card-background-color;
  background: colors.$card-background-gradient;

  border-bottom: solid 1px;
  border-color: colors.$card-border-color;
}

.indent {
  text-indent: 5%;
}