@use 'colors';
@use 'sizes';

.imgWindow {
    display: grid;

    border-top-right-radius: sizes.$rounder-corner-radius;
    border-top-left-radius: sizes.$rounder-corner-radius;
}

.imgWindow img {
    border-top-right-radius: sizes.$rounder-corner-radius;
    border-top-left-radius: sizes.$rounder-corner-radius;
}

.imgWindow video {
    border-top-right-radius: sizes.$rounder-corner-radius;
    border-top-left-radius: sizes.$rounder-corner-radius;
}

.stacked {
    grid-area: 1 /1;
}

.fadeIn:hover {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


@media only screen and (max-width: 422px) {
    
    .imgWindow {
        max-width: 422px;
        overflow: hidden;

        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .imgWindow img {
        width: 100%;
        height: 100%;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .imgWindow video {
        width: 100%; 
        height: 100%;
        object-fit: contain;

        overflow-y: hidden;

        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .card {
        width: 100%;
        text-align: justify;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
}


.card {
    justify-items: center;
    background: colors.$card-background-color;    
        
    border-bottom: solid 1px;
    border-color: colors.$card-border-color;

    border-top-right-radius: sizes.$rounder-corner-radius;
    border-top-left-radius: sizes.$rounder-corner-radius;
}

.card h3 {
    margin: 10px 10px 5px 10px;
}

.card p {
    margin: 5px 10px 20px 10px;
}

.card p b {
    font-weight: 600;
}

.link {
    text-decoration: none;
    color: black;
}