@use 'colors';
@use 'sizes';

.imgWindow {
    display: grid;

    border-top-right-radius: sizes.$rounder-corner-radius;
    border-top-left-radius: sizes.$rounder-corner-radius;
}

.imgWindow img {
    border-top-right-radius: sizes.$rounder-corner-radius;
    border-top-left-radius: sizes.$rounder-corner-radius;
}

.stacked {
    grid-area: 1 /1;
}

.fadeIn:hover {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


@media only screen and (max-width: sizes.$max-width) {
    .card {
        width: 100vw; 
    }
    .imgWindow {
        width: 100vw;
        overflow-x: hidden;
    }

    .card {
        text-align: justify;
    }
}


.card {
    justify-items: center;
    background: colors.$card-background-color;    
        
    border-bottom: solid 1px;
    border-color: colors.$card-border-color;

    border-top-right-radius: sizes.$rounder-corner-radius;
    border-top-left-radius: sizes.$rounder-corner-radius;
}

.card h3 {
    margin: 10px 10px 5px 10px;
}

.card p {
    margin: 5px 10px 20px 10px;
}

.card p b {
    font-weight: 600;
}

.link {
    text-decoration: none;
    color: black;
}