@use 'colors';

.imgWindow {
    display: grid;
}

.stacked {
    grid-area: 1 /1;
}

.fadeIn:hover {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.card {
    background: colors.$card-background-color;    
        
    border-bottom: solid 1px;
    border-color: colors.$card-border-color;
}

.card h3 {
    margin: 10px 10px 5px 10px;
}

.card p {
    margin: 5px 10px 20px 10px;
}

.link {
    text-decoration: none;
    color: black;
}